
body{ 
font-family: arial, sans-sertif;
margin: 20px;
background-color:#c98ed1 ;
  }
  h1{
    color: #333;
  }
  h1 { text-align: center;
   }
  p{line-height: 1.6;
  }
  img{ 
  max-width: 100%;
  height: auto; 
}
a{
  color: #007BFF;
  text-decoration: none;
}
a:hover{ 
text-decoration: underline;
 }